.item {
  display: flex;
  align-items: center;

  margin-bottom: 15px;
}

.item:last-child {
  margin-bottom: 0;
}

.status {
  display: block;

  width: 15px;
  height: 15px;
  margin-right: 20px;

  border-radius: 50%;
}

.status__true {
  composes: status;
  background-color: #1b9c26;
}

.status__false {
  composes: status;
  background-color: #a82929;
}

.avatar {
  padding: 15px;
  margin-right: 20px;
  border: 1px solid #ccc;
}

.name {
  font-size: 20px;
  font-weight: 700;
}
